* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(17, 68, 128);
}

.room1Floor {
    display: block;
    height: 300px;
    width: 100%;
    background-color: rgb(56, 120, 139);
}

.room2Floor {
    display: block;
    height: 200px;
    width: 100%;
    background-color: green;
}

.title {
    background-color: rgb(22, 14, 70);
    color: white;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    align-items: center;
}

.months {
    display: flex;
    height: 85%;
    width: 100%;
}

.mAxis {
    display: flexbox;
    height: 100%;
    width: 4%;
    border-right: solid 2px;
    border-color: black;
}

.mBoxes {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 96%;
}

.spacer {
    height: 10px;
}

#initSpacer {
    height: 30px;
}

.titleText {
    display: flex;
    padding-left: 4%;
    flex: 0 0 20%;
    font-size: 120%;
}

.btnClass {
    height:60%;
    width:15%;
    flex:0 0 15%;
    margin: 0 20px;
    background-color:#1b811b;
    color: white;
    border:none;
    cursor:pointer;
    transition: 333ms;
}

.btnClassDel {
    background-color:#7c0e0a;
    transition: 333ms;
}

.btnClassAdd:hover {
    background-color: #8df065;
    color: rgb(0, 0, 0);
}

.btnClassDel:hover {
    background-color: #f3adaa;
    color: rgb(0, 0, 0);
}

.overlayShow {
    height:100vh;
    width:100vw;
    opacity:0.85;
    background-color:#000000;
    position:fixed;
    top:0;
    left:0;
    z-index:500;
    visibility: visible;
    transition: 333ms;
}

.overlayHide {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}

.exitOlayBtn {
    z-index: 501;
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;;
    height: 100px;
    width: 100px;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
}

.exitOlayBtn:hover {
    background-color: #0c1f72;
    transition: 333ms;
}

.exitOlayBtn::before {
    content: 'X';
    font-size: 75px;
    color: rgba(248, 244, 10, 1);
    font-weight: 300;
    font-family: Arial, sans-serif;
}

.oInputs {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oInputBoxShow {
    height:60%;
    width:40%;
    top:20%;
    left:30%;
    background-color:#597a78;
    z-index:502;
    position:fixed;
    display:flex;
    flex-direction:column;
    opacity:1;
    visibility: visible;
}
